body{
    background-image: url("https://media.tenor.com/1udt1Z3DPyMAAAAM/laughing-everybody-hates-chris.gif");
    background-size: 35%;
}


a p{
   background-color: rgb(1, 63, 42);
   width: 20%;
   padding: 15px 0;
   text-align: center;
   font-weight: bold;
   text-decoration: none;
   border-radius: 15px;
   transition: 1s all;
   cursor: pointer;
   margin: 15px auto;

}
a p:hover{
    background-color: aqua;
    transform: scale(1.2);
}

h1{
    background-color: antiquewhite;
    text-align: center;
}

body {
  cursor: url("https://img.icons8.com/ios7/1200/cursor.jpg"), auto;
}



button {
  cursor: url('icone-clique.png'), pointer;
}
