body{
    background-image: url("https://i.pinimg.com/originals/c8/7e/32/c87e32c29f5c18bf60c9537c0bca0823.gif");
}


button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 25px;
    background-color: rgb(23, 59, 59);
    color: bisque;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
}